html{
    height:100%;
}


body {
    background: #fff1ca;
    background: -moz-linear-gradient(left, #ffdbca 0%, #DFFFFF 50%, #FFFFFF 100%);
    background: -webkit-linear-gradient(left, #CAFFFF 0%, #DFFFFF 50%, #FFFFFF 100%);
    background: linear-gradient(to right, #CAFFFF 0%, #DFFFFF 50%, #FFFFFF 100%);
    }

